<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer class="footer bgcolor_welcome_user">
    <div class="footer_content color_white">
        Copyrights reserved &copy;
    </div>
</footer>