
<header class="header">
    <div class="welcome_user bgcolor_welcome_user">
        <div class="icons">
            <% if(title == 'Student Details') {%>
                <a href="/superuser/programmes"><div class="back_icon" ><i class="fa fa-arrow-left fa-lg color_white"></i></div></a>
            <%} else{%>
                <div id="hamburger" class="hamburger_icon"><i class="fa fa-bars fa-lg color_white"></i></div>
            <%}%>
        </div>
        
        <div class="welcome_user_heading">
            <div class="welcome_user_content color_white">
                Welcome User!
            </div>
            <div class="profile_icon"><i class="fa fa-user-circle color_white"></i></div>
        </div>
    </div>
    <div class="banner bgcolor_banner">
        <div class="banner_content color_white">
            Electronics and Communication Department
            <input id="top_banner_dept" type="hidden" value="<%=user.dept%>">
        </div>
        
    </div>
    <div class="profile" id="profile">
        <a href="/users/logout"><div>Logout</div></a>
    </div>
</header>