
<link rel="stylesheet" type="text/css" href="/css/assgn.css">
<div>
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Assignments</div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            <div class="box_layout">
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject">Computer Architecture</div>
                        <div class="title">Tutorial Sheet-4</div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">Due on 29-09-20, 5:00PM</div>
                            <div class="description"></div>
                            <div class="date_posted">Posted on 20-09-20</div>
                        </div>
                        <div class="buttons">
                            <div class="ppt">COA.ppt</div>
                            <div>
                                <a href="#"><i class="fa fa-plus-square fa-2x"></i></a>
                                <a href="#"><i class="fas fa-eye fa-2x"></i></a>
                                <a href="#"><i class="fas fa-trash fa-2x "></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject">Computer Architecture</div>
                        <div class="title">Tutorial Sheet-4</div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">Due on 29-09-20, 5:00PM</div>
                            <div class="description">This has to be attached with a suitable diagram. jkebgcuheb dcjebcge bcjebcuhhebdcjjekc</div>
                            <div class="date_posted">Posted on 20-09-20</div>
                        </div>
                        <div class="buttons">
                            <div class="ppt">COA.ppt</div>
                            <div>
                                <a href="#"><i class="fa fa-plus-square fa-2x"></i></a>
                                <a href="#"><i class="fas fa-eye fa-2x"></i></a>
                                <a href="#"><i class="fas fa-trash fa-2x "></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject">Computer Architecture</div>
                        <div class="title">Tutorial Sheet-4</div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">Due on 29-09-20, 5:00PM</div>
                            <div class="description">This has to be attached with a suitable diagram.jkebgcuhebdcjebcgebcjebcuhhebdcjjekcjkebgcuhebdcjebcgebcjebcuhhebdcjjekcjkebgcuhebdcjebcgebcjebcuhhebdcjjekcjkebgcuhebdcjebcgebcjebcuhhebdcjjekcjkebgcuhebdcjebcgebcjebcuhhebdcjjekc</div>
                            <div class="date_posted">Posted on 20-09-20</div>
                        </div>
                        <div class="buttons">
                            <div class="ppt">COA.ppt</div>
                            <div>
                                <a href="#"><i class="fa fa-plus-square fa-2x"></i></a>
                                <a href="#"><i class="fas fa-eye fa-2x"></i></a>
                                <a href="#"><i class="fas fa-trash fa-2x "></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject">Computer Architecture</div>
                        <div class="title">Tutorial Sheet-4</div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">Due on 29-09-20, 5:00PM</div>
                            <div class="description">This has to be attached with a suitable diagram. jkebgcuheb dcjebcge bcjebcuhhebdcjjekc</div>
                            <div class="date_posted">Posted on 20-09-20</div>
                        </div>
                        <div class="buttons">
                            <div class="ppt">COA.ppt</div>
                            <div>
                                <a href="#"><i class="fa fa-plus-square fa-2x"></i></a>
                                <a href="#"><i class="fas fa-eye fa-2x"></i></a>
                                <a href="#"><i class="fas fa-trash fa-2x "></i></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All </li>
                        <li>Computer Architecture and Organisation</li>
                        <li>Embedded Systems</li>
                        <li>Wireless Communication</li>
                        <li>Advanced Communication</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>Ascending</li>
                        <li>Descending</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Status:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All</li>
                        <li>Pending</li>
                        <li>Submitted</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All </li>
                        <li>Computer Architecture and Organisation</li>
                        <li>Embedded Systems</li>
                        <li>Wireless Communication</li>
                        <li>Advanced Communication</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>Ascending</li>
                        <li>Descending</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Status:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All</li>
                        <li>Pending</li>
                        <li>Submitted</li>
                    </ul>
                </div>
            </div>
            
        </div>

    </div>

    
    
    
</div>
<script src="/js/assignments.js"></script>

