
<link rel="stylesheet" type="text/css" href="/css/assgn.css">
<div>
    <div class="main">
        <%- include('navbar') %>

        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_heading">
                <div class="heading"> Assignments</div>
                <div class="filters_small">
                    <div>Filters</div>
                    <div><i class="fa fa-filter"></i></div>
                </div>
               
            </div>
            <div class="box_layout">
                <% if(user.isAdmin){ %>
                    <div class="add">
                        <div class="add_icon"><i class="fas fa-plus"></i></div>
                        <div class="add_content">Add </div>
                    </div>
                    <div class="add_admin">
                        <form>
                            <label for="subject">Subject:</label>
                            <select id="subject" name="subject">
                                <option value="All">All</option>
                                <option value="Computer Architecture and Organisation">Computer Architecture and Organisation</option>
                                <option value="Embedded Systems">Embedded Systems</option>
                                <option value="Advanced Communication">Advanced Communication</option>
                                <option value="Wireless Communication">Wireless Communication</option>
                            </select><br><br>
                            <label for="branch">Branch:</label>
                            <select id="branch" name="branch">
                                <option value="All">All</option>
                                <option value="ECE-1st Year">ECE-1st Year</option>
                                <option value="EE-1st Year">EE-1st Year</option>
                                <option value="EE-1st Year">EE-1st Year</option>
                                <option value="ECE-2nd Year">ECE-2nd Year</option>
                            </select><br><br>
                            <label for="group">Class Group:</label>
                            <select id="group" name="group">
                                <option value="All">All</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select><br><br>
                            <label for="sub_group">Lab Group:</label>
                            <select id="sub_group" name="sub_group" >
                                <option value="All">All</option>
                                <option value="1">1</option>
                                <option value="3">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="5">5</option>
                                <option value="7">6</option>
                            </select><br><br><label name="deadline_lecture">Deadline: </label>
                            <input type="datetime-local" name="lecture_deadline" id="lecture_deadline" required="true"><br><br>
                            <input type="text" name="title" id="title" placeholder="Enter the title" ></textarea><br><br>
                            <textarea name="message" id="message" placeholder="Enter the message" rows="5" required=true></textarea><br><br>
                            <div class="files">
                                <div id="file_names"></div>
                                <div id="file_inputs">
                                    <input type=file name="file0" class="file" style="display: none;">
                                    <button id="add_files_button" type="button">Add file</button>
                                </div>
                            </div>
                            <div class="submit_button">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                <% } %>
                <div class="box">
                    <div class="box_heading"> 
                        <div class="subject">Computer Architecture</div>
                        <div class="title">Tutorial Sheet-4</div>
                    </div>
                    <div class="box_content">  
                        <div class="box_content_details">                    
                            <div class="deadline">Due on 29-09-20, 5:00PM</div>
                            <% if(user.isAdmin){ %>
                                <div class="branch_admin"><b>Branch: ECE-1st Year</b></div>
                                <div class="group_admin"><b>Class Group: 2</b></div>
                                <div class="sub_group_admin"><b>Lab Group: All</b></div>  
                            <% } %>
                            <div class="description"></div>
                            <div class="date_posted">Posted on 20-09-20</div>
                        </div>
                        <div class="material">
                            <a href="Chem PPT.pptx" class="file_inside" download="">
                                <div class="file_icon "></div>
                                <div class="file_title">Resume</div>
                                <div class="file_delete"><i class="fas fa-times"></i></div>
                            </a>
                            <a href="https.docx" class="file_inside" download="" id="abcdef">
                                <div class="file_icon "></div>
                                <div class="file_title">Resume ResumeResumeResumeResume</div>
                                 <div class="file_delete"><i class="fas fa-times"></i></div>
                            </a>
                            <a href="Chem PPT.pptx" class="file_inside" download="">
                                <div class="file_icon "></div>
                                <div class="file_title">Resume</div>
                                <div class="file_delete"><i class="fas fa-times"></i></div>
                            </a>
                            <a href="https.docx" class="file_inside" download="" >
                                <div class="file_icon "></div>
                                <div class="file_title">Resume ResumeResumeResumeResume</div>
                                <div class="file_delete"><i class="fas fa-times"></i></div>
                            </a>
                        </div>
                        <% if(user.isAdmin){ %>
                            <button type="button" class="view_submissions"> View Submissions</button>
                            <div class="buttons">
                                <div class="buttons_admin">
                                    <div class="edit"><i class="far fa-edit"></i></div>
                                    <div class="delete"><i class="fas fa-trash"></i></div>
                                </div>
                                <div class="buttons_admin_save">
                                    <div class="savechanges"><i class="fas fa-save"></i></div>
                                    <form id="invisible_form" action="#">
                                        <input type="hidden" name="title" >
                                        <input type="hidden" name="description">
                                        <input type="hidden" name="after_delete_files">
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

            </div>
        </div>
        <div class="filters">
            <div class="filter_name">
                <div class="filter_heading">Subjects:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All </li>
                        <li>Computer Architecture and Organisation</li>
                        <li>Embedded Systems</li>
                        <li>Wireless Communication</li>
                        <li>Advanced Communication</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Date:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>Ascending</li>
                        <li>Descending</li>
                    </ul>
                </div>
            </div>
            <div class="filter_name">
                <div class="filter_heading">Status:</div>
                <div class="filter_content">
                    <ul class="list">
                        <li>All</li>
                        <li>Pending</li>
                        <li>Submitted</li>
                    </ul>
                </div>
            </div> 
        </div>

    </div>

    
    
    
</div>
<script src="/js/assignments.js"></script>
v<% if(user.isAdmin){ %>
    <!-- <script src="/js/announcement_admin_filter.js"></script> -->
    <script src="/js/assignments_admin.js"></script>
<% }else{ %>
    <!-- <script src="/js/announcement_filter.js"></script> -->
<% } %>
