<link rel="stylesheet" type="text/css" href="/css/assignment_submission.css">
    
    
<div>   
    <div class="main">
        <%- include('navbar') %>


        <div id="black_screen"></div>

        <div class="main_content">
            <div class="main_data">
                <div class="subject">Computer Architecture and Organisation</div>
                <div class="title_submit"> 
                    <div class="title">Assignment-4</div>
                    <button type="submit" class="submit_button">Submit</button>
                </div>
                <div class="graded">Not graded yet</div>
                <div class="line"></div>
                <div class="deadline">Due on October 10,2020, 5:00PM</div>
                <div class="description">This assignment is to be done on white pages.</div>
                <div class="date_posted">Posted on October 7,2020</div>
                <div class="material">
                    <a href="Chem PPT.pptx" class="file_inside" download="">
                        <div class="file_icon "></div>
                        <div class="file_title">Resume</div>
                    </a>
                    <a href="Chem PPT.docx" class="file_inside" download="">
                        <div class="file_icon "></div>
                        <div class="file_title">Resume</div>
                    </a>
                    <a href="Chem PPT.pptx" class="file_inside" download="">
                        <div class="file_icon "></div>
                        <div class="file_title">Resume</div>
                    </a>
                    <a href="Chem PPT.docx" class="file_inside" download="">
                        <div class="file_icon "></div>
                        <div class="file_title">Resume</div>
                    </a>
                </div>
                <div class="work_added">Your Submissions</div>
                <div class="files_added"></div>
                <div class="input_button">
                    <input type="file" name="files" id="file0" class="files" multiple >
                    <button type="button" id="add_files_button">Add files</button>
                </div>
            </div>
        </div>

        

    </div>

</div>
<script src="/js/assignment_submission.js"></script>
    