<div class="navbar bgcolor_welcome_user">
    <a id="announcements" href="announcements/html#announcements">
        <div class="nav_icon "><i class="fa fa-bell fa-2x fa-fw "></i> </div>
        <div class="nav_content">Announcements</div>
    </a>
    <a id="study_material" href="study_material.html#study_material">
        <div class="nav_icon"><i class="fa fa-book fa-2x fa-fw"></i> </div>
        <div class="nav_content">Study Material</div>
    </a>
    <a id="recorded_lectures" href="recorded_lectures.html#recorded_lectures">
        <div class="nav_icon"><i class="fa fa-video-camera fa-2x fa-fw"></i></div>
        <div class="nav_content">Recorded lectures</div>
    </a>
    <a id="assgn" href="/content/assignments">
        <div class="nav_icon"><i class="fa fa-pencil-alt fa-2x fa-fw"></i> </div>
        <div class="nav_content">Assignments</div>
    </a>
    <a id="quizzes" href="/content/quizzes#quizzes">
        <div class="nav_icon"><i class="fas fa-brain fa-2x fa-fw"></i></div>
        <div class="nav_content">Quizzes/ Tests</div>
    </a>
    <a id="time_table" href="/content/time_table#time_table">
        <div class="nav_icon"><i class="fa fa-calendar fa-2x fa-fw "></i> </div>
        <div class="nav_content">Time-table</div>
    </a>
    <a id="doubts" href="doubts.html#doubts">
        <div class="nav_icon"><i class="fa fa-question-circle fa-2x fa-fw"></i> </div>
        <div class="nav_content">Doubts</div>
    </a>
    <div>
        <div class="nav_icon"></div>
        <div class="nav_content"></div>
    </div>
    
    
</div>