<link rel="stylesheet" type="text/css" href="/css/profile.css">
    <div class="main_area_profile">
        <div class="profile_container">
            <div class="navbar_profile">
                <div class="dp_container dp_hover">
                    <div class="img_container profile_pic">
                        <img class="profile_pic" id="img" src="./imgs/Ishjot.jpg" alt="User Image">
                    </div>
                    <div class="edit_button pencil">
                        <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn"></i>
                        <input type="file" id="change_1" class="change_pic" accept="image/*">
                        <i class="fa fa-trash  edit_icon" id="delete_btn"></i>
                    </div>
                </div>
                
                <div class="profile_options">
                    <a class="profile_tags" href="#personal_info" ><div class="option">Personal Information</div></a>
                    <a class="profile_tags" href="#attendance"><div class="option">Attendance</div></a>
                    <a class="profile_tags" href="#course"><div class="option">Courses</div></a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="dp_container dp_hover responsive_dp">
                <div class="img_container profile_pic">
                    <img class="profile_pic" id="img_responsive" src="./imgs/Ishjot.jpg" alt="User Image">
                </div>
                <div class="edit_button pencil">
                    <i class="fa fa-pencil-alt  edit_icon" id="pencil_btn_1"></i>
                    <input type="file" class="change_pic" accept="image/*">
                    <i class="fa fa-trash  edit_icon" id="delete_btn_1"></i>
                </div>
            </div>
            <div class="profile_content" >
                    <div class="personal_info" >
                        <div class="edit_info_name table_title">
                            <div class="personal_option" id="personal_info">
                                PERSONAL INFORMATION
                            </div>
                        </div>
                    <div class="edit_container">
                        
                        <div class="edit_info_field">
                            <div class="personal_option">
                                First Name:
                            </div>
                            <div class="personal_option">
                                Last Name:
                            </div>
                            <div class="personal_option">
                                Student ID:
                            </div>
                            <div class="personal_option">
                                Branch:
                            </div>
                            <div class="personal_option">
                                Year of Joining:
                            </div>
                            <div class="personal_option">
                                Year of Graduation:
                            </div>
                            <div class="personal_option">
                                Year of Study:
                            </div>
                            <div class="personal_option">
                                Date of Birth:
                            </div>
                            <div class="personal_option">
                                Contact Information:
                            </div>
                        </div>
                        <div class="edit_info_name">
                            <input type="text" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <select name="Year of study" class="personal_info_input">
                                <option value="" selected disabled> Select Year </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <input type="date" class="personal_info_input">
                            <input type="text" class="personal_info_input">
                            <div class="submit_container">
                                <input type="submit" class="submit" value="Apply Changes" id="submit_personal">
                            </div>
                        </div>
                        
                        
                        </div> 
                    </div>
                </div>
            <div class="underline"></div>
            <div class="attendance">
                <div class="main_area">
                    <div class="table">
                        <div class="table_title">
                            <p id="attendance">ATTENDANCE</p>
                        </div>
                        <div class="heading_table">
                            <div class="cell">
                                <p>SUBJECT</p>
                            </div>
                            <div class="cell">
                                <p>ATTENDED</p>
                            </div>
                            <div class="cell">
                                <p>TOTAL</p>
                            </div>
                            <div class="cell">
                                <p>PERCENTAGE</p>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="cell">
                                <p>COMPUTER ARCHITECTURE</p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <p>EMBEDDED SYSTEM</p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <p>WIRELESS COMMUNICATION</p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell">
                                <p>ADVANCED COMMUNICATION</p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                            <div class="cell">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="underline"></div>
            <div class="courses">
                <div class="edit_info_name table_title" >
                    <div class="personal_option" id="course" >
                        COURSES
                    </div>
                </div>
                <div class="profile_content">
                    <div class="edit_course">
                        <form id="course_form">
                            <input type="hidden">
                            <div class="heading_add">
                                <button type = "button" class="add" id="add_course">
                                    Add Course
                                </button>
                            </div>
                            <!-- <div class="course_style" id="course_style"> -->
                                <!-- <div class="course_container" id="course_container"> -->
                                    <select name="course_id" id="course_id" class="subject_id">
                                        <option selected disabled value="">Select Course ID</option>
                                        <option value="ECN301">ECN301: COMPUTER ARCHITECTURE</option>
                                        <option value="ECN302">ECN302: WIRELESS COMMUNICATION</option>
                                        <option value="ECN303">ECN303: ADVANCED COMMUNICATION</option>
                                        <option value="ECN304">ECN304: EMBEDDED SYSTEM</option>
                                    </select>
                                    <!-- <div class="course_name">
                                        <input type="text" class="course_name_styling" value="" disabled>
                                    </div> -->
                                <!-- </div>  -->
                                <div class="courses_heading">
                                    <div class="course_id_heading">
                                        COURSE ID
                                    </div>
                                    <div class="course_name_heading">
                                        COURSE NAME
                                    </div>
                                    <div></div>
                                </div>
                                <div class="added_course" id="new_course">
                                    <div class="no_courses" id="course_none">No courses added!</div>
                                </div>
                            <!-- </div> -->
                            <div class="heading_add_1" id="heading_add_1">
                                <input type="submit" value="Apply Changes" id="submit_courses" class="add">
                            </div>
                        </form>
                    </div>
                </div>      
            </div>
        </div>
        
    </div>    
<script src="/js/profile.js"></script>