<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width" initial-scale="1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/f6bdc44dbc.css">
        <link rel="stylesheet" href="css/quiz_form.css"/>
    </head>
    <body>
        <header class="bg_header font_header">
            <div>
                COMPUTER ARCHITECTURE QUIZ
            </div>
        </header>
        <div class="timer bg_timer fontColor_timer">
            Time Remaining: 10 mins
        </div>
        <div class="main_area">
            <!-- <div class="ques_bar bg_ques_bar font_ques_bar">
                <div class="number">
                    <a class="q_bar_link" href="#one"><div class="q_num q_bar_style"></div></a>
                    <a class="q_bar_link" href="#two"><div class="q_num q_bar_style"></div> </a>
                    <a class="q_bar_link" href="#three"><div class="q_num q_bar_style"></div> </a>
                    <a class="q_bar_link" href="#four"><div class="q_num q_bar_style"></div> </a>
                    <a class="q_bar_link" href="#"><div class="q_num q_bar_style"></div> </a>
                    <a class="q_bar_link" href="#"><div class="q_num q_bar_style"></div> </a>
                    <a class="q_bar_link" href="#"><div class="q_num q_bar_style"></div> </a>
                </div>
            </div> -->
            <div class="blank_area_left"></div>
            <div class="quiz_form">
                <div class="middle bg_middle">
                    <form>
                        <legend class="quiz_topic font_quiz_topic">
                            QUIZ TOPIC
                        </legend>
                        <div class="ques">
                            <div class="ques_heading font_ques_heading count bg_ques_heading" >
                                 What is skksksk?eddeoeodoedoekd doedeodeom eodeomdoemdoe edokoemdoemdo kdkmdkmkdekmdkemkdm mwomowmomomo wowosmmwowmomswmsmw
                            </div>
                            <div class="answer" contenteditable="true" placeholder="Enter your answer"></div>
                        </div>
                        <div class="ques">
                            <div class="ques_heading font_ques_heading count  bg_ques_heading" >
                                This is the question.
                                Select the correct option.
                            </div>
                            <div class="mcq font_mcq">
                                <label>
                                    <input class="option" type="radio" name="radio_button" >Option 1
                                </label>
                                <label>
                                    <input class="option" type="radio" name="radio_button" >Option 2
                                </label>
                                <label>
                                    <input class="option" type="radio" name="radio_button" >Option 3
                                </label>
                                <label>
                                    <input class="option" type="radio" name="radio_button" >Option 4
                                </label>
                                <label class="clear_selection">
                                    <button id="clear_button" class="font_cs">Clear Selection</button>
                                </label>
                            </div>
                        </div>
                        <div class="ques">
                            <div class="ques_heading font_ques_heading count bg_ques_heading">
                                This is the question.
                                Select two options.
                            </div>
                            <div class="mcq font_mcq">
                                <label>
                                    <input class="option" type="checkbox" name="mcq" value>Option 1
                                </label>
                                <label>
                                    <input class="option" type="checkbox" name="mcq" value>Option 2
                                </label>
                                <label>
                                    <input class="option" type="checkbox" name="mcq" value>Option 3
                                </label>
                                <label>
                                    <input class="option" type="checkbox" name="mcq" value>Option 4
                                </label>
                            </div>
                        </div>
                        <div class="ques">
                            <div class="ques_heading font_ques_heading count  bg_ques_heading">
                                This is the question.
                                Select the correct image.
                            </div>
                            <div class="mcq font_mcq">
                                <label class="img_radio">
                                    <input class="option" type="radio" name="radio_image" value><img src="./imgs/Option1.jpg" alt="Option 1" height="100" width="100">
                                </label>
                                <label class="img_radio">
                                    <input class="option" type="radio" name="radio_image" value><img src="./imgs/Option2.jpg" alt="Option 2" height="100" width="100">
                                </label>
                                <label class="img_radio">
                                    <input class="option" type="radio" name="radio_image" value><img src="./imgs/Option3.jpg" alt="Option 3" height="100" width="100">
                                </label>
                                <label class="img_radio">
                                    <input class="option" type="radio" name="radio_image" value><img src="./imgs/Option4.jpg" alt="Option 4" height="100" width="100">
                                </label>
                                <label class="clear_selection">
                                    <button id="clear_button_img" class="font_cs">Clear Selection</button>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="blank_area_right"></div>
        </div>
        <!-- <script src="./scripts/quiz_form.js"></script> -->
    </body>
</html>