<link rel="stylesheet" type="text/css" href="/css/registration_page.css">

    <div class="body_container">
        <div class="form_container">
            <div class="white_border">
                <div class="form_heading">Registration Form</div>
                <div class="form_content">
                    <form class="form_data" action="/users/registerLocal" method="POST">
                        <div class="form_field">
                            <div>First Name:</div>
                            <input type="text" name='firstName' required>
                        </div>
                        <div class="form_field">
                            <div>Last Name:</div>
                            <input type="text" name='lastName'>
                        </div>
                        <div class="form_field">
                            <div>Student ID:</div>
                            <input type="number" name='sid' required>
                        </div>
                        <div class="form_field">
                            <div>Branch: </div>
                            <select name='branch' required>
                                <option value="" disabled selected>Select</option>
                                <option value="CSE">CSE</option>
                                <option value="ECE">ECE</option>
                                <option value="EE">EE</option>
                                <option value="PROD">PROD</option>
                                <option value="MECH">MECH</option>
                                <option value="CIVIL">CIVIL</option>
                                <option value="AERO">AERO</option>
                                <option value="METTA">METTA</option>
                            </select>
                        </div>
                        <div class="form_field">
                            <div>Programme:</div>
                            <select name='programme' required>
                                <option value="" disabled selected>Select</option>
                                <option value="BTECH">BTECH</option>
                                <option value="MTECH">MTECH</option>
                            </select>
                        </div>
                        <div class="form_field">
                            <div>Graduating year:</div>
                            <select name='year' required >
                                <option value="" disabled selected>Select</option>
                            </select>
                        </div>
                        <div class="form_field">
                            <div>Class Group:</div>
                            <select name='group' required disabled>
                                <option value="" disabled selected>Select</option>
                            </select>
                        </div>
                        <div class="form_field">
                            <div>Lab Group:</div>
                            <select name='labGroup' required disabled>
                                <option value="" disabled selected>Select</option>
                            </select>
                        </div>
                        <button type="submit" class="submit">SUBMIT</button>
                    </form>
                </div>
                
                <div class="instruction">*Changes once made can't be altered</div>
            </div>
        </div>
    </div>
    
    <!-- <div class="background_content">
        
    </div> -->
    <script src="/js/registration_page.js"></script>