<link rel="stylesheet" type="text/css" href="/css/time_table.css">
   
<div class="main">
    <%- include('navbar') %>

    <div id="black_screen"></div>

    <div class="main_content">
        <div class="main_heading">
            <div class="heading"> Time Table</div>
        </div>
        <div class="box_layout">
            <div class="table">
                <div class="table_row">
                    <div class="table_column table_heading"></div>
                    <div class="table_column table_heading">MONDAY</div>
                    <div class="table_column table_heading">TUESDAY</div>
                    <div class="table_column table_heading">WEDNESDAY</div>
                    <div class="table_column table_heading">THURSDAY</div>
                    <div class="table_column table_heading">FRIDAY</div>
                    <div class="table_column table_heading">SATURDAY</div>
                    <div class="table_column table_heading">SUNDAY</div>
                </div>
                <div class="table_row" id="row1">
                    <div class="table_column table_heading">8:00 - 9:00</div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row2">
                    <div class="table_column table_heading">9:00 - 10:00</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row3">
                    <div class="table_column table_heading">10:00 - 11:00</div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row4">
                    <div class="table_column table_heading">11:00 - 12:00</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                </div>
                <div class="table_row" id="row5">
                    <div class="table_column table_heading">12:00 - 13:00</div>
                    <div class="table_column"></div>
                    <div class="table_column">Computer Architecture and Organisationnehdrfvcjmrdb kjbgdjfcjme,c</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row6">
                    <div class="table_column table_heading">13:00 - 14:00</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row7">
                    <div class="table_column table_heading">14:00 - 15:00</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                </div>
                <div class="table_row" id="row8">
                    <div class="table_column table_heading">15:00 - 16:00</div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
                <div class="table_row" id="row9">
                    <div class="table_column table_heading">16:00 - 17:00</div>
                    <div class="table_column">Computer Architecture and Organisation</div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                    <div class="table_column"></div>
                </div>
            </div>
        </div>
        <div id="info">
            <button type="button" class="cancel_button">Cancel class</button>
            <button type="button" class="reschedule_button">Reschedule class</button>
        </div>
    </div>

</div>

<script src="/js/time_table.js"></script>
