body{
    margin: 0;
    padding: 0;
    background-color:#F1FAEE; 
    color: black;
    font-size: 16px;
    font-family:Helvetica, Arial, sans-serif;
}

.bgcolor_welcome_user{
    background-color: #1D3557;
}
.bgcolor_banner{
    background-color:#72afd5;
}
.color_white{
    color:white
}


/* HEADER
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
}

.welcome_user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.welcome_user_heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}
.hamburger_icon{
    visibility: hidden;
    cursor: pointer;
}
.welcome_user_content{
    padding: 0.3em 1em 0.3em 0;
    font-size: 1.3em;
}
.profile_icon{
    display: flex;
    padding-right:1em;
    padding-top:0.2em;
    font-size: 1.7em;
    cursor: pointer;
}


.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.banner_content{
    position:relative;
    padding: 0.6em;
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(30, 43, 71);
    text-transform: uppercase;
}
.profile{
    visibility: hidden;
    position: fixed;
    top:2.5em;
    right:3em;
    width:auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    border: 2px solid gray;
    cursor: pointer;
}
.profile>div{
    display: flex;
    padding:0.5em;
    margin:0;
    justify-content: center;
}
.profile>div:hover{
    background-color: #1D3557;
    color:white;
} */

/* NAVIGATION BAR
.navbar{
    height: 100vh;
    position: fixed;
    top:5.4em;
    left:0;
    display: flex;
    flex-direction: column;
    z-index:7;
    overflow: auto;
    padding-bottom: 8em;
}

.nav_icon{
    padding: 1.2em 0.8em;
    color: white;
}

.nav_content{
    width: 0;
    overflow: hidden;
    transition: all 0.3s ;
}

.navbar:hover .nav_content{
    width: auto;
    min-width: 9em;
    overflow: visible;
    padding: 1.2em 1.5em 1.2em 0;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.navbar a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navbar a:hover .nav_content{
    font-weight: 600;
    transform: scale(1.01);
}

.navbar a:hover .nav_icon{
    transform: scale(1.01);
    transition: all 0.3s;
}

.navbar a:active{
    background-color: black;
}

#black_screen{
    transition: all 0.3s;
}

.navbar:hover ~ #black_screen{
    position: fixed;
    top: 5.4em;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index:5;
    opacity:0.5;
    background-color: black;
}
.navbar a:active{
    background-color: white;
}

.navbar a:active .nav_content{
    color: #1D3557;
}

.navbar a:active .nav_icon{
    color:#1D3557;
}
.navbar a:target{
    background-color: #F1FAEE;
}

.navbar a:target .nav_content{
    color: #1D3557;
}

.navbar a:target .nav_icon{
    color:#1D3557;
}
.navbar::-webkit-scrollbar{
    width:8px;
}
.navbar::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.navbar::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
} */


/* MAIN */
.main{
    position: relative;
    min-height: 90vh;
    margin-left: 5em;
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box_layout{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 3em 1.5em;
    width: 73%;
    flex-wrap: wrap;
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.heading{
    padding: 1em 2em 0 2em;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #1D3557;
}
.filters_small{
    display: flex;
    flex-direction: row;
    margin-top:1em;
    /* margin-right:8vw; */
    margin-right: 25.5vw;
    padding:0.2em;
    /* font-size: 1em; */
    font-size: 1.2em;
    border:2px solid grey;
    visibility: visible;
    align-items: flex-end;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.filters_small>div{
    margin-left: 0.5em;
}
.box{
    background-color: #FFF;
    border: solid 0.025em #000;
    border-radius: 7px;
    box-shadow: gray 0.3em 0.3em 0.5em 0.001em;
    height: auto;
    min-width: 40%;
    max-width: 95%;
    margin-bottom: 1.8em;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:1em 1.5em;
}

.box:hover{
    box-shadow: gray 0.5em 0.5em 0.5em 0.05em;
    transform: scale(1.01);
}
.box_heading{
    background-color: #d62648;
    padding: 0.5em 1em;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: column;
}

.subject{
    font-weight: 600;
    color: #F1FAEE;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

.title{
    padding-top:0.25em;
    font-size: 1.1em;
    color: #F1FAEE;
    overflow-wrap: break-word;
}
.box_content{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    justify-content:center;
}
.box_content_details{
    display: flex;
    flex-direction: column;
}

.description{
    padding-top:0.5em;
    font-size: 0.95em;
    overflow-wrap: break-word;
}
.branch_admin, .group_admin, .sub_group_admin{
    padding-top:0.5em;
    font-size: 0.9em;
    overflow-wrap: break-word;
}
.date_posted{
    font-size: 0.8em;
    padding-top:0.7em;
    font-style: italic;
    overflow-wrap: break-word;
}
.show{
    visibility: visible;
}
.hide{
    display: none;
}
.showx{
    display: flex;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.buttons_admin{
    margin-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width:100%; */
    /* background-color: black; */
}
.edit{
    margin-left:0.2em;
    margin-right:1em;
    font-size: 1.4em;
    cursor: pointer;
    visibility: visible;
}

.delete{
    font-size: 1.4em;
    cursor:pointer;
    visibility: visible;
}
.buttons_admin_save{
    margin-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
}
.savechanges{
    margin-left:0.2em;
    margin-right:1em;
    font-size: 1.6em;
    cursor: pointer;
    visibility: hidden;
}

.add{
    margin:1em 1.5em;
    width:fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color:#d62648; 
    border: 1px solid rgb(224, 211, 211);
    align-items: center;
    justify-content: center;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.add:active{
    background-color: white;
}
.add:active .add_icon,.add:active .add_content{
    color:#d62648;
}
.add_content{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    user-select: none;
}
.add_icon{
    padding-left:0.5em;
    font-size: 1.1em;
    color: white;
}
.add_admin{
    margin:1em 1.5em;
    border:1px solid #1D3557;
    box-shadow: 0.1px 0.1px 4px 0;
    padding: 0.8em;
    display: none;
    width:92%;
}
select option{
    max-height:2em;
}
#subject{
    margin-left: 2.9em;
}
#branch{
    margin-left: 3.2em;
}
#class_type{
    margin-left: 1.45em;
}
#sub_group{
    margin-left: 3.65em;
}
input{
    height:1.8em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
    width:60vw;
}
select{
    height:1.4em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
}
textarea{
    width:60vw;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
}
.submit_button{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}
.submit_button button{
    font-size: 1.1em;
    background-color: #1D3557;
    color:white;
    padding:0.3em 0.7em;
    border-radius: 4px;
}
.submit_button button:hover{
    background-color:white;
    color: #1D3557;
    font-weight: 600;
}
.showx{
    display: flex;
}
.heading_edit{
    background-color: #e3d8d8;
    border:1px black solid;
    color: black;
}
.content_edit{
    background-color: #efefef;
    border:1px black solid;
    color: black;
}
.show{
    visibility: visible;
}
.hide{
    display: none;
}
.showx{
    display: flex;
}
.description[contentEditable=true]:empty:not(:focus):before{
    content:attr(description-text);
    color:gray;
}

.title[contentEditable=true]:empty:not(:focus):before{
    content:attr(title-text);
    color:gray;
}

/* FOOTER
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 7;
} 
.footer_content{
    padding: 0.1em 0;
} */



/* FILTERS */

 .filters{
     visibility: hidden;
     background-color: #f1faee;
     color:black;
     height: auto;
     max-height: 70vh;
     position: absolute;
     top:3.9em;
     right:25.5vw;
     display: flex;
     flex-direction: column;
     z-index:4;
     overflow-y:auto;
     width:23%;
     border: 2px solid black;
     padding: 0.5em 0.8em 0 0.8em;
     box-sizing: border-box;
     box-shadow: 0.1px 0.1px 4px 0;
     cursor: pointer;        
 }
.selected{
    background-color:#1D3557;
    color:white;
    border-radius: 10px;
    box-shadow: 0.01em 0.01em 0.5em grey;
}
.filters:hover{
    overflow-y: auto;
}

.filters::-webkit-scrollbar{
    width:8px;
}
.filters::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.filters::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}

.filter_name{
    margin-bottom: 1.5em;
}
.filter_heading{
    font-size: 1.2em;
    font-weight: 600;
    background-color: #72afd5;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.filter_content{
    padding: 0.3em 0 0.3em 1.5em;
    overflow-wrap: break-word;
}
li{
    padding: 0.3em 0.2em;
}
li:hover{
    border-radius: 10px;
    box-shadow: 0.01em 0.01em 0.5em grey;
}
.list{
    list-style-type: none;
    padding:0;
    margin:0;
}
.show{
    visibility: visible;
}


/* SIDEBAR */   
.sidebar{
    height: auto;
    max-height: 70vh;
    position: fixed;
    top:10.5em;
    right:1em;
    display: flex;
    flex-direction: column;
    z-index:4;
    overflow-y:auto;
    width:24%;
    padding: 0 1em 5em 3em;
    box-sizing: border-box;
    padding-bottom: 3em;
}
.sidebox{
    background-color: #F1FAEE;
    margin-bottom: 2em;
    width: auto;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    overflow-wrap: break-word;
}
.sidebar_heading{
    background-color:#72afd5;
    border-radius: 0.5em;
    font-size: 1.35vw;
    padding: 0.5em;
    overflow-wrap: break-word;
    font-weight: 600;
    color: #1D3557;
}
.sidebar_content{
    display: flex;
    justify-content: space-between;
}
.sidebar_title{
    padding: 0.5em;
    padding-left: 1em;
    width:60%;
    overflow-wrap: break-word;
    font-size: 1vw;
}
.sidebar_time{
    padding: 0.1em;
    padding-right:1em;
    text-align:right;
    width:24%;
    font-size: 1vw;
    overflow-wrap: break-word;
    align-self: center;
}
.sidebar::-webkit-scrollbar{
    width:8px;
}
.sidebar::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}



/* For tablet devices */
@media(min-width: 767px) and (max-width: 991px){
    /* HEADER
    .banner_content{
        font-size: 1em;
    }
    .welcome_user{
        
        justify-content: space-between;
    }
    .welcome_user_heading{
        justify-content: flex-end;
    }
    .hamburger_icon{
        visibility: visible;
        padding: 0.3em 0 0.3em 1em;
    }
    .welcome_user_content{
        font-size: 1em;
        padding-right:0.2em ;
    }
    .profile{
        top:2em;
    }
    .profile_icon{
        font-size: 1.5em;
        display: flex;
        padding: 0.2em 1em;
    } */

    /* FOOTER
    .footer_content{
        font-size: 0.8em;
    } */

    
    /* FILTERS */
    .filters{
       visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height: auto;
        max-height: 70vh;
        position: absolute;
        top:3.3em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:35%;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;
        cursor: pointer;        
    }
    
    .filter_name{
        margin-bottom: 1em;
    }

    /* MAIN */
    .box_layout{
        width: 92%;
    }    
    .main{
        margin-left:1em;
    }    
    .heading{
        font-size: 1.4em;
        padding-left:2.3em;
        
    }
    .filters_small{
        /* visibility: visible; */
        margin-right:8vw;
        font-size: 1em;
    }
    .filters_small>div{
        font-size: 1.2em;
    }  
    .show{
        visibility: visible;
    }
    input, textarea{
        width:80vw;
    }


    /* NAVIGATION BAR
    .navbar{
        width:0;
        overflow: hidden;
       
    }
    .show_navbar{
        overflow: auto;
        width:auto;
        height: 95%;
        position: fixed;
        top:1.9em;
        left:0;
        display: flex;
        flex-direction: column;
        z-index:7;
        transition: all 0.3s ;
        padding-bottom: 8em;
    }
    .nav_icon{
        padding: 1.1em 0.8em;
        color: white;
    }

    .nav_content, .navbar:hover .nav_content{
        width: auto;
        min-width: 9em;
        padding: 1.2em 1.5em 1.2em 0;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        transition: none;
    }  
      
    .show_black_screen, .navbar:hover~#black_screen{
        position: fixed;
        top: 1.9em;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index:5;
        opacity:0.5;
        background-color: black;
    } */

    /* SIDEBAR */
    .sidebar{
        visibility: hidden;
    }
}

/* For mobile devices */
@media(max-width: 767px){
    /* HEADER
    .banner_content{
        font-size:0.8em;
    }
    .welcome_user_content{
        font-size: 1em;
        visibility: hidden;
    }
    .welcome_user{
        justify-content: space-between;
    }
    .welcome_user_heading{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .hamburger_icon{
        visibility: visible;
        padding: 0.3em 0 0.3em 0.5em;
    }
    .profile{
        top:2em;
    }
    .profile>div{
        font-size: 0.9em;
    }
    .profile_icon{
        font-size: 1.5em;
        display: flex;
        padding: 0.2em 0.5em;
    } */


    /* NAVIGATION BAR
    .navbar{
        width:0;
        overflow: hidden;
    }
    .show_navbar{
        overflow: auto;
        width:auto;
        height: 95%;
        position: fixed;
        top:1.9em;
        left:0;
        display: flex;
        flex-direction: column;
        z-index:7;
        transition: ease 0.3s ;
        padding-bottom: 8em;
    }  
    .nav_icon{
        padding: 1.1em 0.8em;
        color: white;
    }
    .nav_content, .navbar:hover .nav_content{
        width: auto;
        min-width: 9em;
        padding: 1.2em 1.5em 1.2em 0;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        transition: none;
    }
    .show_black_screen, .navbar:hover~#black_screen{
        position: fixed;
        top: 1.9em;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index:5;
        opacity:0.5;
        background-color: black;
    }
     */

    /* FILTERS */
    .filters{
        visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height: auto;
        max-height: 70vh;
        position: absolute;
        top:3em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:20em;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;
        cursor: pointer;
    }
    .filters:hover{
        overflow-y: auto;
    }
    .filter_name{
        margin-bottom: 1em;
    }
    .filter_heading{
        font-size: 0.9em;
    }
    .filter_content{
        font-size: 0.9em;
    }



    /* MAIN */
    .show{
        visibility: visible;
    }
    .box_layout{
        width: 92%;
        padding-right: 0;
    }
    .main{
        margin-left:0;
    }    
    .box{
        margin-left: 0.01em;
    }
    .heading{
        font-size: 1.3em;
        padding-left:1.3em;
        
    }
    .title{
        font-size: 0.8em;
    }
    .filters_small{
        /* visibility: visible; */
        margin-right:8vw;
        font-size: 1em;
    }
    .subject{
        font-size:1.1em;
    }
    .description{
        font-size: 0.8em;        
    }
    .date_posted{
        font-size: 0.7em;
    }
    .add{
        margin-left: 0.01em;
    }
    .add_admin{
        margin-left: 0.01em;
        width:89%;
    }
    input, textarea{
        width:80vw;
    }
    #subject{
        margin-top: 0.7em;
        margin-left: 0;
    }
    .subject_label{
        display: block;
    }
    .add_content{
        font-size: 0.9em;
    }
    .edit{
        font-size: 1.2em;
    }
    .delete{
        font-size: 1.2em;
    }
    .savechanges{
        font-size: 1.2em;
    }
    .add_content{
        font-size: 0.9em;
    }
    .add_icon{
        font-size: 0.9em;
    }
    #add_form>label{
        font-size: 0.9em;
    }
    .submit_button>button{
        font-size: 0.9em;
    }
    select>option{
        font-size: 0.85em;
        height:auto;
        padding:0;
        margin:0;
    }
    /* FOOTER
    .footer_content{
        font-size: 0.7em;
    } */



    /* SIDEBAR */
    .sidebar{
        visibility: hidden;
    }
}
