


/* HEADER */



/* NAVIGATION BAR */



/* FOOTER */



/* MAIN */
.main{
    position: relative;
    min-height: 90vh;
    margin-left: 5em;
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box_layout{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 3em 1.5em;
    width: 73%;
    flex-wrap: wrap;
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.heading{
    padding: 1em 2em 0 2em;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #1D3557;;
}
.filters_small{
    display: flex;
    flex-direction: row;
    margin-top:1em;
    margin-right:8vw;
    padding:0.2em;
    font-size: 1em;
    border:2px solid grey;
    visibility: hidden;
    align-items: flex-end;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
    /* border: black 2px solid; */
}
.filters_small>div{
    margin-left: 0.5em;
}
.box{
    background-color: #FFF;
    border: solid 0.025em #000;
    border-radius: 7px;
    box-shadow: gray 0.3em 0.3em 0.5em 0.001em;
    min-height: 10em;
    height: auto;
    min-width: 40%;
    max-width: 95%;
    margin-bottom: 1.8em;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:1em 1.5em;
}

.box:hover{
    box-shadow: gray 0.5em 0.5em 0.5em 0.05em;
    transform: scale(1.01);
}
.box_heading{
    background-color: #d62648;
    padding: 0.5em 1em;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: column;
}

.subject{
    font-weight: 600;
    color: #F1FAEE;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

.title{
    margin-top:0.25em;
    font-size: 1.1em;
    color: #F1FAEE;
    overflow-wrap: break-word;
}
.points{
    margin-top:0.4em;
    font-size: 1em;
    color: #F1FAEE;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
}
.points_content{
    padding:0 0.3em;
    margin-left: 0.2em;
}
.box_content{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    justify-content:center;
}
.box_content_details{
    display: flex;
    flex-direction: column;
    width:100%;
    }
.deadline{
    display: flex;
    flex-direction: row;
}
.deadline_heading{
    font-weight: 550;
    font-size: 1em;
    font-style: italic;
    overflow-wrap: break-word;
    margin-right: 0.3em;
}
.deadline_content{
    font-weight: 550;
    font-size: 1em;
    font-style: italic;
    overflow-wrap: break-word;
}
.deadline_input{
    width: fit-content;
}
.description{
    margin-top:0.5em;
    font-size: 0.95em;
    overflow-wrap: break-word;
}
.date_posted{
    font-size: 0.8em;
    padding-top:0.5em;
    font-style: italic;
    overflow-wrap: break-word;
}
.buttons{
    padding-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ppt{
    height:40px;
    width:200px;
    background-color: rgb(217, 219, 223);
    margin-right:2em;
}
.buttons>div>a{
    padding:0.1em 0.5em;
    color: gray;
}

.buttons>div>a:hover{
    color:black;
}

.add{
    margin:1em 1.5em;
    width:fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color:#d62648; 
    border: 1px solid rgb(224, 211, 211);
    align-items: center;
    justify-content: center;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.add:active{
    background-color: white;
}
.add:active .add_icon,.add:active .add_content{
    color:#d62648;
}
.add_content{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    user-select: none;
}
.add_icon{
    padding-left:0.5em;
    font-size: 1.1em;
    color: white;
}

.add_admin{
    margin:1em 1.5em;
    border:2px solid  #1D3557;
    box-shadow: 0.1px 0.1px 4px 0;
    padding: 0.8em;
    display: none;
    width:92%;
}

select option{
    max-height:2em;
}
#subject{
    margin-left: 2.9em;
}
#branch{
    margin-left: 3.2em;
}
#class_type{
    margin-left: 1.4em;
}
#sub_group{
    margin-left: 3.8em;
}

input{
    height:1.8em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
    width:60vw;
}
select{
    height:1.4em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
}
textarea{
    width:60vw;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
}
.submit_button{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}
.submit_button button{
    font-size: 1.1em;
    background-color: #1D3557;
    color:white;
    padding:0.3em 0.7em;
    border-radius: 4px;
}
input.weightageStyle{
    width:4em !important;
    height:1.6em;
    margin-left:3.9em;
}

.submit_button button:hover{
    background-color:white;
    color: #1D3557;
    font-weight: 600;
}
.showx{
    display: flex;
}
.heading_edit{
    background-color: #e3d8d8;
    border:1px black solid;
    color: black;
}
.content_edit{
    background-color: #efefef;
    border:1px black solid;
    color: black;
}
.hide{
    display: none;
}
#lecture_deadline{
    width:auto;
    overflow-y: auto;
    margin-left: 2.4em;
}
.file_content{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
}
.file_name{
    padding-right:0.5em;
}
.file_cross{
    cursor: pointer;
    opacity: 0.7;
}
.branch_admin, .group_admin, .sub_group_admin{
    padding-top:0.5em;
    font-size: 0.9em;
    overflow-wrap: break-word;
}
.material{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    /* border: 1px solid black; */
}
.file_inside{
    height:50px;
    width:200px;
    background-color: #f2f2f2;
    border:2px solid grey;
    margin:0.5em 2em 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.file_icon{
    font-size:3.2em;
}
.color_word{
    color:#2962ff;
}
.color_ppt{
    color:#d04524;
}
.color_pdf{
    color:#940000
}
.color_image{
    color: #132a6b;
}
.color_excel{
    color:#1d6d43
}
.color_file{
    color: #e0a918;
}
.color_video{
    color: #3da4ed;
}
.color_audio{
    color: #f79200;
}
a{
    color: black;
    text-decoration: none;
}
.file_title{
    padding:0 0.4em;
    /* border:1px solid black; */
    width:150px;
    height:auto;
    max-height: 2.4em;
    align-self: center;
    /* vertical-align: middle; */
    /* white-space: nowrap;  */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file:hover .file_title{
    font-weight: 600;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.buttons_admin{
    margin-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* width:100%; */
    /* background-color: black; */
}
.edit{
    margin-left:0.2em;
    margin-right:1em;
    font-size: 1.4em;
    cursor: pointer;
    visibility: visible;
}

.delete{
    font-size: 1.4em;
    cursor:pointer;
    visibility: visible;
}
.buttons_admin_save{
    margin-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
}
.savechanges{
    margin-left:0.2em;
    margin-right:1em;
    font-size: 1.6em;
    cursor: pointer;
    visibility: hidden;
}

.file_delete{
    opacity:0.5;
    font-size:1.7em;
    padding-right:0.2em;
    color:rgb(39, 37, 37);
    display: none;
}
.show_delete{
    display: flex !important; 
}
.file_delete:hover{
    opacity:1;
}
.file_box{
    display: none;
    margin: 0.5em 0;
    flex-direction: column;
}
.file_content{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
}
.file_name{
    padding-right:0.5em;
}
.file_cross{
    cursor: pointer;
    opacity: 0.7;
}
.view_submissions{
    width: fit-content;
    background-color: #d62648;
    padding: 0.5em;
    margin-top: 0.5em;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}
.description[contentEditable=true]:empty:not(:focus):before{
    content:attr(description-text);
    color:gray;
}

.title[contentEditable=true]:empty:not(:focus):before{
    content:attr(title-text);
    color:gray;
}
.show{
    visibility: visible;
}


/* FILTERS */
.filters{
    height:auto;
    max-height: 70vh;
    position: fixed;
    top:10.5em;
    right:1em;
    display: flex;
    flex-direction: column;
    z-index:4;
    overflow-y:hidden;
    width:24%;
    padding: 0 1em 0 3em;
    box-sizing: border-box;
}
.selected{
    background-color:#1D3557;
    color:white;
    border-radius: 10px;
    box-shadow: 0.01em 0.01em 0.5em grey;
}
.filters:hover{
    overflow-y: auto;
}


.filters::-webkit-scrollbar{
    width:8px;
}
.filters::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.filters::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}

.filter_name{
    margin-bottom: 1.5em;
}
.filter_heading{
    font-size: 1.2em;
    font-weight: 600;
    background-color: #72afd5;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.filter_content{
    padding: 0.3em 0 0.3em 1.5em;
    overflow-wrap: break-word;
}
li{
    cursor: pointer;
    padding: 0.3em 0.2em;
}
li:hover{
    border-radius: 10px;
    box-shadow: 0.01em 0.01em 0.5em grey;
}
.list{
    list-style-type: none;
    padding:0;
    margin:0;
}






/* For tablet devices */
@media(min-width: 767px) and (max-width: 991px){
    /* HEADER */
    
    /* FOOTER */
    

    
    /* FILTERS */
    .filters{
       visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height:auto;
        max-height: 70vh;
        position: absolute;
        top:3.3em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:35%;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;      
    }

    .filter_name{
        margin-bottom: 1em;
    }


    /* MAIN */
    .box_layout{
        width: 92%;
    }    
    .main{
        margin-left:1em;
    }    
    .heading{
        font-size: 1.4em;
        padding-left:2.3em;
    }
    .filters_small{
        visibility: visible;
    }
    .filters_small>div{
        font-size: 1.2em;
    }  
    .show{
        visibility: visible;
    }
    input, textarea{
        width:80vw;

    }


    /* NAVIGATION BAR */
    
}

/* For mobile devices */
@media(max-width: 767px){
    /* HEADER */
    
    /* NAVIGATION BAR */
    

    /* FILTERS */
    .filters{
        visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height:auto;
        max-height: 70vh;
        position: absolute;
        top:3em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:20em;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;
        
    }
    .filters:hover{
        overflow-y: auto;
    }
    .filter_name{
        margin-bottom: 1em;
    }

    /* MAIN */
    .box_layout{
        width: 92%;
        padding-right: 0;
    }
    .main{
        margin-left:0;
    }    
    .box{
        margin-left: 0.01em;
    }
    .heading{
        font-size: 1.3em;
        padding-left:1.3em;
    }
    .ppt{
        width: 150px;
    }
    .filters_small{
        visibility: visible;
    }
    .show{
        visibility: visible;
    }
    .subject{
        font-size:1em;
    }
    .title{
        font-size: 0.8em;
    }
    .deadline_heading{
        font-size: 0.8em;
    }
    .deadline_content{
        font-size: 0.8em;
    }
    .description{
        font-size: 0.8em;        
    }
    .date_posted{
        font-size: 0.7em;
    }
    .buttons{
        align-items: center;
    }
    .buttons>div>a{
        font-size: 2.5vw;
        padding-right:0.1em;
    }
    .show{
        visibility: visible;
    }
    .add{
        margin-left: 0.01em;
    }
    .add_admin{
        margin-left: 0.01em;
        width:89%;
    }
    input, textarea{
        width:77vw;
    }
    #subject{
        margin-top: 0.7em;
        margin-left: 0;
    }
    .subject_label{
        display: block;
    }
    .add_content{
        font-size: 0.9em;
    }
    .add_icon{
        font-size: 0.9em;
    }
    #add_form>label{
        font-size: 0.9em;
    }
    .submit_button>button{
        font-size: 0.9em;
    }
    select>option{
        font-size: 0.85em;
        height:auto;
        padding:0;
        margin:0;
    }

    /* FOOTER */
    .footer_content{
        font-size: 0.7em;
    }
    
}