.main{
    position: relative;
    min-height: 90vh;
    margin-left: 5em;
    /* border:1px solid black; */
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border:1px solid black; */
}

.box_layout{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 3em 1.5em;
    width: 92%;
    flex-wrap: wrap;
    /* border:1px solid black; */
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}
.heading{
    padding: 1em 2em 0 1.7em;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #1D3557;
}


.add{
    margin:1em 1.5em;
    width:fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color:#d62648; 
    border: 1px solid rgb(224, 211, 211);
    align-items: center;
    justify-content: center;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.add:active{
    background-color: white;
}
.add:active .add_icon,.add:active .add_content{
    color:#d62648;
}
.add_content{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    user-select: none;
}
.add_icon{
    padding-left:0.5em;
    font-size: 1.1em;
    color: white;
}
.add_admin{
    margin:1em 1.5em;
    border:1px solid #1D3557;
    box-shadow: 0.1px 0.1px 4px 0;
    padding: 1.3em 0.8em;
    display: none;
    width:80%;
}
input{
    width:60vw;
    height:1.4em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
}
#subject_code{
    margin-left: 0.6em;
}
#subject_name{
    margin-left: 0.3em;
}
#subject_credits{
    margin-left: 4em;
}
#checkbox_container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    margin:0.9em 0 0.5em 0;
}
input[type="checkbox"]{
    width:auto;
}
.active_course_label{
    padding-top: 0.3em;
    padding-left: 0.3em;
    font-size: 0.95em;
}
.submit_button{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    margin-top:1em;
}
.submit_button button{
    font-size: 1.1em;
    background-color: #1D3557;
    color:white;
    padding:0.3em 0.7em;
}
.submit_button button:hover{
    background-color:white;
    color: #1D3557;
    font-weight: 600;
}
.showx{
    display: flex;
}

.show{
    visibility: visible;
}
.hide{
    display: none;
}
.subject_container{
    width:90%;
    margin:1em 0 2em 1.5em;
    /* border:1px solid black; */
}
.subject_heading{
    width:100%;
    min-height:1em;
    /* background-color:peachpuff; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: center;
    padding-left:0.3em;
}
.code_subject_heading{
    width: 15%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.name_subject_heading{
    width: 60%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.credits_heading{
    width:10%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
/* .year_heading{
    width:15%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
} */


/* .subject{
    width:100%;
    min-height:1em;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: center;
}
.subject:nth-child(2n+1){
    background-color: white;
    
} */
.subject_row{
    width:100%;
    min-height:1em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    justify-content: center;
}
.subject_row:nth-child(2n+1){
    background-color: white;
} 
.subject{
    width:100%;
    min-height:1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.offered_to_container{
    width:100%;
    min-height:1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.offered_to{
    /* margin-left: 2em; */
    display: flex;
    flex-direction: row;
    width:85%;
    margin:0.1em 1em;
    font-style: italic;
}
.year_show{
    margin-left:1em;
}


.code_subject{
    width: 15%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.name_subject{
    width: 60%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.credits{
    width:10%;
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
/* .year_study{
    width:15%;
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
} */
.active_icon{
    font-size: 1.5em;
    align-self: center;
    color: #cbcbcb;
    /* border: 1px solid black; */
    margin-left: 0.5em;
}
.icon_color_change{
    color: #18bc33;
}
.delete_icon{
    font-size: 1.3em;
    align-self: center;
    color: #a6a5a5;
    /* border: 1px solid black; */
}
/* .save_icon{
    font-size: 1.7em;
    align-self: center;
    color: grey;
    display: none;
    margin-right:0.3em;
} */
.content_color{
    background-color: #e4e4e4;
}
.no_courses{
    justify-content: center;
    font-size: 1.2em;
    margin-top:1.5em;
    font-style: italic;
}

#subject_select_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
}

.subject_select_label{
    /* border: black solid 1px; */
    min-width: 110px;
}

.select_container{
    display: flex;
    flex-direction: column;
    /* border: black solid 1px; */
}

.subject_select{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.subject_select>input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subject_select>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right:3em;
}

.year_select_container{
    display: flex;
    flex-direction: row;
}
.year_label{
    margin-right:0.7em;
}
.year_select{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.year_select>input{
    display: flex;
    align-items: center;
    width: fit-content;
}
.year_select>div{
    display: flex;
    align-items: center;
}




.new_year_container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid black;
    background-color: white;
    margin:0;
}
.new_year_label{
    display: flex;
    justify-content: center;
    padding:0.5em 2em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #1D3557 ;
    color: white;
    margin:0;
}
.new_year_select_container{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}
.new_year_select{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
}
.new_year_select>input{
    display: flex;
    align-items: center;
    margin-right:0.5em;
    width: fit-content;
}
.new_year_select>div{
    display: flex;
    align-items: center;
}
.new_year_button_container{
    display: flex;
    justify-content: center;
}
.new_year_button{
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 0.5em;
    background-color: #d62648;
    color: white;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1em;
}

.new_year_select_class{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------TABLET DEVICES------------------------------------- */
@media(min-width: 767px) and (max-width: 991px){
    .box_layout{
        width: 95%;
    }    
    .main{
        margin-left:1em;
    }    
    .heading{
        font-size: 1.4em;
        padding-left:2.3em;
    }
}



/* ---------------------------------MOBILE DEVICES----------------------------------------- */
@media(max-width: 767px){
    .box_layout{
        width: 98%;
        padding: 0;
        padding-left:0.5em;
    }
    .main{
        margin-left:0;
        
    }    
    .heading{
        font-size: 1.3em;
        padding-left:1.5em;
    }
    .add_content{
        font-size: 1em;
    }
    .code_subject{
        font-size:0.9em;
    }
    .name_subject{
        font-size: 0.9em;
    }
    .active_icon{
        font-size:1.2em;
    }
    .delete_icon{
        font-size: 1.1em;
    }
    .subject_code_label{
        display: block;
    }
    .subject_name_label{
        display: block;
    }
    #subject_code{
        /* padding-left:0; */
        margin-left:0;
    }
    #subject_name{
        margin-left:0;
    }
    .code_subject{
        width: 15%;
        /* border: 1px solid black; */
    }
    .name_subject{
        width: 60%;
        /* border: 1px solid black; */
        margin:0.3em;
    }
}