body{
    margin: 0;
    padding: 0;
    background-color:#F1FAEE; 
    color: black;
    font-size: 16px;
    font-family:Helvetica, Arial, sans-serif;
}
.bgcolor_welcome_user{
    background-color: #1D3557;
}
.bgcolor_banner{
    background-color:#72afd5;
}
.color_white{
    color:white
}


/* HEADER */
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index:1;
}

.welcome_user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.welcome_user_heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2em;
}
.hamburger_icon{
    visibility: hidden;
    cursor: pointer;
}
.profile_icon{
    display: flex;
    padding-right:1em;
    padding-top:0.2em;
    font-size: 1.7em;
    cursor: pointer;
}

.welcome_user_content{
    padding: 0.3em 1em 0.3em 0;
    font-size: 1.3em;
}


.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.banner_content{
    position:relative;
    padding: 0.6em;
    font-size: 1.3em;
    font-weight: 700;
    color: rgb(30, 43, 71);
    text-transform: uppercase;
}
.profile{
    visibility: hidden;
    position: fixed;
    top:2.5em;
    right:4em;
    width:auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: flex-end;
    border: 2px solid gray;
    cursor: pointer;
}
.profile>div{
    display: flex;
    padding:0.5em;
    margin:0;
    justify-content: center;
}
.profile>div:hover{
    background-color: #1D3557;
    color:white;
}
.show{
    visibility: visible;
}




/* NAVIGATION BAR */
.navbar{
    height: 100vh;
    position: fixed;
    top:5.4em;
    left:0;
    display: flex;
    flex-direction: column;
    z-index:7;
    overflow: auto;
}


.nav_icon{
    padding: 1.2em 0.8em;
    color: white;
}

.nav_content{
    width: 0;
    overflow: hidden;
    transition: all 0.3s ;
}

.navbar:hover .nav_content{
    width: auto;
    min-width: 9em;
    overflow: visible;
    padding: 1.2em 1.5em 1.2em 0;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.navbar a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.navbar a:hover .nav_content{
    font-weight: 600;
    transform: scale(1.01);
}

.navbar a:hover .nav_icon{
    transform: scale(1.01);
    transition: all 0.3s;
}

.navbar a:active{
    background-color: white;
}

.navbar a:active .nav_content{
    color: #1D3557;
}

.navbar a:active .nav_icon{
    color:#1D3557;
}

#black_screen{
    transition: all 0.3s;
}

.navbar:hover ~ #black_screen{
    position: fixed;
    top: 5.4em;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index:5;
    opacity:0.5;
    background-color: black;
}

.navbar a:target{
    background-color: #F1FAEE;
}

.navbar a:target .nav_content{
    color: #1D3557;
}

.navbar a:target .nav_icon{
    color:#1D3557;
}
.navbar::-webkit-scrollbar{
    width:8px;
}
.navbar::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.navbar::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}



/* FOOTER */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 7;
} 
.footer_content{
    padding: 0.1em 0;
}



/* MAIN */
.main{
    position: relative;
    min-height: 90vh;
    margin-left: 5em;
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.box_layout{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 3em 1.5em;
    width: 73%;
    flex-wrap: wrap;
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.heading{
    padding: 1em 2em 0 2em;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #1D3557;;
}
.filters_small{
    display: flex;
    flex-direction: row;
    margin-top:1em;
    margin-right:8vw;
    padding:0.2em;
    font-size: 1em;
    border:2px solid grey;
    visibility: hidden;
    align-items: flex-end;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
    /* border: black 2px solid; */
}
.filters_small>div{
    margin-left: 0.5em;
}
.box{
    background-color: #FFF;
    border: solid 0.025em #000;
    border-radius: 7px;
    box-shadow: gray 0.3em 0.3em 0.5em 0.001em;
    min-height: 10em;
    height: auto;
    min-width: 40%;
    max-width: 95%;
    margin-bottom: 1.8em;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin:1em 1.5em;
}

.box:hover{
    box-shadow: gray 0.5em 0.5em 0.5em 0.05em;
    transform: scale(1.01);
}
.box_heading{
    background-color: #d62648;
    padding: 0.5em 1em;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: column;
}

.subject{
    font-weight: 600;
    color: #F1FAEE;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

.title{
    padding-top:0.25em;
    font-size: 1.1em;
    color: #F1FAEE;
    overflow-wrap: break-word;
}
.box_content{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    justify-content:center;
}
.box_content_details{
    display: flex;
    flex-direction: column;
    width:100%;
    }
/* .deadline{
    font-weight: 550;
    font-size: 1em;
    font-style: italic;
    overflow-wrap: break-word;
} */
.description{
    padding-top:0.5em;
    font-size: 0.95em;
    overflow-wrap: break-word;
}
.date_posted{
    font-size: 0.8em;
    padding-top:0.5em;
    font-style: italic;
    overflow-wrap: break-word;
}
.buttons{
    padding-top:0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ppt{
    height:40px;
    width:200px;
    background-color: rgb(217, 219, 223);
    margin-right:2em;
}
.buttons>div>a{
    padding:0.1em 0.5em;
    color: gray;
}

.buttons>div>a:hover{
    color:black;
}
.comments{
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    width: 98%;
    /* background-color: yellow; */
    padding: 0.5em;
    background-color: rgb(233, 231, 231);
    border-radius: 0.8em;
    
}
/* .comment_content{
    max-height:5em;
    overflow-y: auto;
} */
.comment_heading{
    font-size: 1.1em;
    /* color: grey; */
    font-weight: 600;
    /* font-style: italic; */
    margin-bottom: 0.4em;
    overflow-wrap: break-word;
    /* text-decoration: underline; */
}
.comment_content{
    display: flex;
    flex-direction: column;
    /* border:1px solid black; */
}
.reply{
    display: flex;
    flex-direction: column;
    margin-top:0.5em;
    /* margin-left:-10em; */
    /* border:1px solid gray; */
}
.reply_user{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.reply_user>div{
    padding-bottom: 0.4em;
}
.student_name{
    font-size: 0.9em;
    /* padding-right: 1em; */
    font-weight: 600;
}
.date_uploaded{
    font-size: 0.7em;
    text-align: center;
    font-style: italic;
    margin-left: 1em;
}

.reply_content{
    font-size: 0.9em;
    overflow-wrap: break-word;
}
.reply_button{
    color:blue;
    font-size: 0.7em;
    width: fit-content;
    border:none;
    cursor: pointer;
    margin-bottom: 0.5em;
}
.reply_button:hover{
    text-decoration: underline;
}
.reply {
    margin-left: 2em;
    margin-bottom:0.5em;
}
.next_reply{
    display: flex;
    flex-direction: row;
    /* width:100%; */
}
.input_icon{
    color:gray;
    font-size: 1.4em;
    /* width:2em; */
    margin-left:0.3em;
    margin-right:1em;
    cursor: pointer;
}
/* input{
    
    margin-bottom: 1em;
    min-width:50%;
    width:100%;
    background-color:rgb(189, 187, 187);
}
input:focus{
    background-color: white;
} */

.comment_content::-webkit-scrollbar{
    width:8px;
}
.comment_content::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.comment_content::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}
.add{
    margin:1em 1.5em;
    width:fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color:#d62648; 
    border: 1px solid rgb(224, 211, 211);
    align-items: center;
    justify-content: center;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.add:active{
    background-color: white;
}
.add:active .add_icon,.add:active .add_content{
    color:#d62648;
}
.add_content{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    user-select: none;
}
.add_icon{
    padding-left:0.5em;
    font-size: 1.1em;
    color: white;
}
.add_admin{
    margin:1em 1.5em;
    border:2px solid  #1D3557;
    box-shadow: 0.1px 0.1px 4px 0;
    padding: 0.8em;
    display: none;
    width:92%;
}
label{
    font-size: 1em;
}
select option{
    max-height:2em;
}
#subject{
    margin-left: 3.9em;
}
#doubt_type{
    margin-left: 0.7em;
}

input{
    width:60vw;
    /* overflow-y: auto; */
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}
textarea{
    width:60vw;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}
.submit_button{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}
.submit_button button{
    font-size: 1.1em;
    background-color: #1D3557;
    color:white;
    padding:0.3em 0.7em;
}
.submit_button button:hover{
    background-color:white;
    color: #1D3557;
    font-weight: 600;
}
.file_content{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
}
.file_name{
    padding-right:0.5em;
}
.file_cross{
    cursor: pointer;
    opacity: 0.7;
}
.showx{
    display: flex;
}

/* FILTERS */
.filters{
    height:auto;
    max-height: 70vh;
    position: fixed;
    top:10.5em;
    right:1em;
    display: flex;
    flex-direction: column;
    z-index:4;
    overflow-y:hidden;
    width:24%;
    padding: 0 1em 0 3em;
    box-sizing: border-box;
}
.filters:hover{
    overflow-y: auto;
}


.filters::-webkit-scrollbar{
    width:8px;
}
.filters::-webkit-scrollbar-track {
    background: rgb(231, 232, 233);      
}
.filters::-webkit-scrollbar-thumb {
    background-color: rgb(189, 187, 187);    
    border-radius: 20px;        
}

.filter_name{
    margin-bottom: 1.5em;
}
.filter_heading{
    font-size: 1.2em;
    font-weight: 600;
    background-color: #72afd5;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    overflow-wrap: break-word;
}
.filter_content{
    padding: 0.3em 0 0.3em 1.5em;
    overflow-wrap: break-word;
}
li{
    cursor: pointer;
    padding: 0.3em 0.2em;
}
li:hover{
    border-radius: 10px;
    box-shadow: 0.01em 0.01em 0.5em grey;
}
.list{
    list-style-type: none;
    padding:0;
    margin:0;
}






/* For tablet devices */
@media(min-width: 767px) and (max-width: 991px){
    /* HEADER */
    .banner_content{
        font-size: 1em;
    }
    .welcome_user{
        justify-content: space-between;
    }
    .welcome_user_heading{
        align-items: center;
        justify-content: flex-end;
    }
    .hamburger_icon{
        visibility: visible;
        padding: 0.3em 0 0.3em 1em;
    }
    .welcome_user_content{
        font-size: 1em;
        padding-right:0.2em ;
    }
    .profile{
        top:2em;
    }
    .profile_icon{
        font-size: 1.5em;
        display: flex;
        padding: 0.2em 1em;
    }

    /* FOOTER */
    .footer_content{
        font-size: 0.8em;
    }

    
    /* FILTERS */
    .filters{
       visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height:auto;
        max-height: 70vh;
        position: fixed;
        top:7.8em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:35%;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;      
    }

    .filter_name{
        margin-bottom: 1em;
    }


    /* MAIN */
    .box_layout{
        width: 92%;
    }    
    .main{
        margin-left:1em;
    }    
    .heading{
        font-size: 1.4em;
        padding-left:2.3em;
    }
    .filters_small{
        visibility: visible;
    }
    .filters_small>div{
        font-size: 1.2em;
    }  
    .show{
        visibility: visible;
    }
    input, textarea{
        width:80vw;
    }


    /* NAVIGATION BAR */
    .navbar{
        width:0;
        overflow: hidden;
       
    }
    .show_navbar{
        overflow-y: auto;
        width:auto;
        height: 95%;
        position: fixed;
        top:1.9em;
        left:0;
        display: flex;
        flex-direction: column;
        z-index:7;
        transition: all 0.3s ;  
    }
    .nav_icon{
        padding: 1.1em 0.8em;
        color: white;
    }
    .nav_content, .navbar:hover .nav_content{
        width: auto;
        min-width: 9em;
        padding: 1.2em 1.5em 1.2em 0;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        transition: none;
    }

    .show_black_screen, .navbar:hover~#black_screen{
        position: fixed;
        top: 1.9em;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index:5;
        opacity:0.5;
        background-color: black;
    }
}

/* For mobile devices */
@media(max-width: 767px){
    /* HEADER */
    .banner_content{
        font-size:0.8em;
    }
    .welcome_user_content{
        font-size: 1em;
        visibility: hidden;
    }
    .welcome_user{
        justify-content: space-between;
    }
    .welcome_user_heading{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .profile_icon{
        font-size: 1.5em;
        display: flex;
        padding: 0.2em 0.5em;
    }
    .hamburger_icon{
        visibility: visible;
        padding: 0.3em 0 0.3em 0.5em;
    }
    .profile{
        top:2em;
        right:3em;
    }
    .profile>div{
        font-size: 0.9em;
    }

    /* NAVIGATION BAR */
    .navbar{
        width:0;
        overflow: hidden;
    }
    .show_navbar{
        overflow-y: auto;
        width:auto;
        height: 95%;
        position: fixed;
        top:1.9em;
        left:0;
        display: flex;
        flex-direction: column;
        z-index:7;
        transition: ease 0.3s ;
    }  
    .nav_icon{
        padding: 1.1em 0.8em;
        color: white;
    }
    .nav_content, .navbar:hover .nav_content{
        width: auto;
        min-width: 9em;
        padding: 1.2em 1.5em 1.2em 0;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        transition: none;
    }
    .show_black_screen, .navbar:hover~#black_screen{
        position: fixed;
        top: 1.9em;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index:5;
        opacity:0.5;
        background-color: black;
    }

    /* FILTERS */
    .filters{
        visibility: hidden;
    }
    .filters{
        background-color: #f1faee;
        color:black;
        height:auto;
        max-height: 70vh;
        position: fixed;
        top:7em;
        right:8vw;
        display: flex;
        flex-direction: column;
        z-index:4;
        overflow:auto;
        width:20em;
        border: 2px solid black;
        padding: 0.5em 0.8em 0 0.8em;
        box-sizing: border-box;
        box-shadow: 0.1px 0.1px 4px 0;
        
    }
    .filters:hover{
        overflow-y: auto;
    }
    .filter_name{
        margin-bottom: 1em;
    }

    /* MAIN */
    .box_layout{
        width: 92%;
        padding-right: 0;
    }
    .main{
        margin-left:0;
    }    
    .box{
        margin-left: 0.01em;
    }
    .heading{
        font-size: 1.3em;
        padding-left:1.3em;
    }
    .ppt{
        width: 150px;
    }
    .filters_small{
        visibility: visible;
    }
    .show{
        visibility: visible;
    }
    .subject{
        font-size:1em;
    }
    .title{
        font-size: 0.8em;
    }
    /* .deadline{
        font-size: 0.8em;
    } */
    .description{
        font-size: 0.8em;        
    }
    .date_posted{
        font-size: 0.7em;
    }
    .buttons{
        align-items: center;
    }
    .buttons>div>a{
        font-size: 2.5vw;
        padding-right:0.1em;
    }
    .show{
        visibility: visible;
    }
    .add{
        margin-left: 0.01em;
    }
    .add_admin{
        margin-left: 0.01em;
        width:89%;
    }
    input, textarea{
        width:77vw;
    }
    #subject{
        margin-top: 0.7em;
        margin-left: 0;
    }
    

    /* FOOTER */
    .footer_content{
        font-size: 0.7em;
    }
    
}