body{
    margin: 0;
    padding: 0;
    background-color:#F1FAEE; 
    color: black;
    font-size: 16px;
    font-family:Helvetica, Arial, sans-serif;
    overflow: hidden;
}
a{
    text-decoration:none;
    color:inherit;
}

.bgcolor_welcome_user{
    background-color: #1D3557;
}
.bgcolor_banner{
    background-color:#72afd5;
}
.color_white{
    color:white
}

body{
    background-image: url('/imgs/desktop_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body_container{
    z-index: 3;
    /* position: absolute;
    top:0;
    left:0;
    padding:0;
    margin:0; */
    width: 100%;
    height: 100%;
    /* border:1em solid black; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.show{
    visibility: visible;
}

.login_container{
    background-color: #1D3557;
    border-radius: 0.5em;
    height: 20em;
    width: 30em;
    z-index: 5;
    filter: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
}

.white_border{
    border: solid 0.2em #f1faee;
    height: 17em;
    width: 27em;
    padding: 1em;
}

.login_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.login{
    background-color: #f1faee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
}

.font_login{
    font-size: 2.25em;
    color: #1D3557;
    padding: 0.25em;
    font-weight: bold;
}

.google_logo{
    padding: 0.5em;
    width: 2.5em;
}

.background_content{
    filter: blur(0.2em);
}

.pec{
    align-items: center;
    margin: 1em 0 1em 0;
}

.pec_logo{
    width: 10em;
}

.login_main{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    min-height: 90vh;
    margin-left: 5em;
    width: 100%;
    height:100%;
    z-index: 3;
}


/* For tablet devices */
@media(min-width: 768px) and (max-width: 991px){
    body{
        background-image: url('/imgs/tablet_background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    

}

/* For mobile devices */
@media(max-width: 767px){
    body{
        background-image: url('/imgs/mobile_background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    
}





@media (max-width: 600px){
    .login_container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 1em;
    }

    .white_border{
        border: solid 0.3em #f1faee;
        width: 85%;
        height: 85%;
    }

    .pec{
        margin-top: 2em;
        margin-bottom: 4em;
    }

    .pec_logo{
        width: 15em;
    }

    .login{
        background-color: #f1faee;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;

    }
    
    .font_login{
        font-size: 2.5em;
        color: #1D3557;
        padding: 0.25em 0.3em 0.25em 0;
        font-weight: bold;
    }
    
    .google_logo{
        padding: 1em;
        width: 3.7em;
    }
}
















