
a{
    cursor: pointer;
}
html{
    scroll-behavior: smooth !important;
}

.show{
    visibility: visible;
}

/* PROFILE PAGE STYLING*/

.arrow_left{
    font-size: 1.8em;
}

.back_home_icon{
    display: flex;
    padding-right:1em;
    padding-top:0.2em;
    cursor: pointer;
}

.main_area_profile{
    background-color: #F1FAEE;
    box-sizing: border-box;
    /* border:0.1em solid black; */
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.profile_container{
    background-color: #1D3557;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: fixed;
    padding: 0;
    width: 20vw;
}

.navbar_profile{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.responsive_dp{
    visibility: hidden;
    height: 0;
}

.dp_container{
   align-items: center;
   display: flex;
   justify-content: center;
   margin-top: 3em;
   position: relative;
   border-radius: 50%;
   z-index: 0;
}

.profile_pic{
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
/*  height: 26vh; */
    width: 12vw;
    z-index: 1;
}

.pic_option{
    color: #000;
    display: none;
    flex-direction: column;
    font-size: 0.8em;
    background-color: #FFF;
    border: solid 0.1em #FFF;
    position: absolute;
    width: 9vw;
    top: 22vh;
    left: 5vw;
    z-index: 2;
    cursor: pointer;
}

.pencil{
    display: flex;
    padding-right:1em;
    padding-top:0.2em;
    cursor: pointer;
    user-select: none;
}

.upload_new_pic{
    align-items: center;
    border: 0;
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: 7vw;
}

.upload_styling{
    text-decoration: none;
    margin: 1em;
}

.change_pic{
    display: none;
}

#change_1{
    display: none;
}



.edit_button{
    position: absolute;
    color: #FFF;
    /* top: 10vh;
    left:2vw; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    visibility: hidden;
    z-index: 6;
}

.edit_icon{
    font-size: 2vw;
    margin: 0.5em;
}

.dp_hover:hover{
    background-color: #000;
}

.dp_hover:hover .profile_pic{
    /* background-color: #000; */
    opacity: 0.3;
}

.profile_pic:hover ~ .edit_button {
    visibility: visible;
}

.edit_button:hover{
    visibility: visible;
}

.profile_options{
    align-items: center;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin-top: 3em;
}

.profile_tags{
    color: #F1FAEE;
    display: flex;
    text-decoration: none;
    width: 18vw;
}
.option{
    margin: 1em 0;
}
.option div{
    align-items: center;
    border-bottom: solid 0.1em #F1FAEE;
    
    text-align: center;
    width: 20vw;
}

.personal_info{
    display: flex;
    flex-direction: column;
    width:70%;
}

.edit_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content:space-between;
}

.editable_content{
    border: solid 0.1em #000;
    width: 10.200em;
}

.edit_info_name{
    display: flex;
    flex-direction: column;

}

.edit_info_field{
    display: flex;
    flex-direction: column;

}

.combo_yos{
    border: solid 0.01em #000;
    font-size: 1em;
    height: 1.350em;
    width: 25vw;
}

.content{
    /* border: solid 0.5em black; */
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    width: 80vw !important;
    min-height: 100vh;
}

#personal_info{
    scroll-margin-top: 120px;
    font-size: 3em;
    
    justify-content:center;
}

#attendance{
    scroll-margin-top: 120px;
    font-size: 3em;
}

#course{
    scroll-margin-top: 120px;
    font-size: 3em;
}

.profile_content{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    width:100%;
}

.personal_option{
    font-size: 1.2em;
    margin: 1em;
}

.personal_info_input_css{    
    
    font-size: 1.2em;
    margin: 0.95em;    
    padding: 0 0.5em;
    width: 25vw;
    outline: none;
    border:none !important;
    background-color:inherit !important;
    border-bottom:solid rgb(80, 80, 80) 0.1em !important;
}

.personal_info_input_edit{
    font-size: 1.2em;
    margin: 0.9em;    
    padding: 0 0.5em;
    width: 25vw;
    /* border-bottom:solid rgb(80, 80, 80) 0.1em !important; */

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  padding: 0;
}

input[type="number"]{
    -moz-appearance: textfield;
    margin: 0;
}


#first_name{
    margin-left: 10em;
}

#last_name{
    margin-left: 10.067em;
}

#sid{
    margin-left: 10.2em;
}

#branch{
    margin-left: 12.067em;
}

#yoj{
    margin-left: 7.975em;
}

#yog{
    margin-left: 5.841em;
}

#yos{
    margin-left: 8.709em;
}

#dob{
    margin-left: 9.201em;
}

#contact_info{
    margin-left: 5.397em;
}

.submit_container{
    justify-content: flex-end;
    display: flex;
    padding: 1em;
    
}

.submit{
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1em;
    font-size: 1.2em;
    background-color: #1D3557;
    color: #F1FAEE;
    padding: 0.5em;
    width: 10em;
}
.submit_courses_styles{
    
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin: 0;
    margin: 1.5em 0em 5em ;
    font-size: 1.2em;
    background-color: #1D3557;
    color: #F1FAEE;
    padding: 0.5em;
    width: 10em;
    
}

.underline{
    height: 0;
    width: 100%;
    border: solid 0.01em #000;
    margin: 2em 0;
}

.attendance{
    min-height: 52em;
}

.table{
    /*background-color: blue;*/
    display: table;
    width: 60vw;
    height: 50vh;
    text-align: center;
    padding: 0.5em;
}

.table_title{
    color: #1D3557;
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: 0.5em;
    text-decoration: underline;
}

.heading_table{
    display: table-row;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.row{
    display: table-row;
    padding: 0;
    text-align: center;
}

.cell{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 0.5em;
    width: 2.5em;
}

.main_area{
    display: flex;
    justify-content: center;
}

.course_container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* margin: 1.2em 1.2em 1.2em 1.8em; */
    margin-top:0.5em;
    font-size: 1.3em;
}
.course_container{
    /* align-items:flex-end; */
    border-bottom:1px solid black;
}
.course_container div:nth-child(1){
    width:30%;
}
.course_container div:nth-child(2){
    width:60%;
    margin-left:5%;
    margin-right:5%;
}
.edit_course{
    width:100% !important;
    
}
#course_form{
    width:100% !important;
    /* padding:0; */
}
.heading_add{
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    /* margin: 0 1.55em; */
    width:100%;
}
.heading_add select{
    width:100%;
    margin-right:1em;
}

.heading_add_1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:2em 0em 3em;
    padding:0;
}

.add{
    border: solid 0.1em #000;
    background-color: #1D3557;
    color: #F1FAEE;
    font-size: 1em;
    /* padding: 0.2em 0.5em; */
    
    text-align: center;
    margin: 0 !important;
    /* padding:0 !important; */
    padding:0.2em 0.5em;
    width: 8em;
}

.courses{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.courses_inner_container{
    width:70% !important;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    padding:1em;
}

.courses_heading{
    display: flex;
    justify-content: space-between;
    /* width: 10em; */
    margin: 1em 0 1em 2em;
    font-size: 1.5em;
    text-decoration: underline;
}
.heading_container{
    display:flex;
    flex-direction: row;
    
    font-size:1.3em;
    font-weight: bold; 
    margin-bottom:1em;
    margin-top:1em;
}
.heading_container div:nth-child(1){
    display: flex;
    justify-content: center;
    width:30%;
}
.heading_container div:nth-child(2){
    display: flex;
    justify-content: center;
    width:70%;
}

.no_courses{
    display: flex;
    justify-content: center;
    /* width: 10em; */
    /* margin: 1em 0 1em 2em; */
    font-size: 1.5em;
    border:1px solid black;
    padding:0.5em;
    /* background-color: #1D3557; */
    /* color:white; */
}

.course_style{
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* #course_id{
    width: 13vw;
    font-size: 0.8em;
} */

.subject_id{
    /* width: 50vw; */
    /* font-size: 0.8em; */
    /* margin: 0em 1.2em 0em 1.8em; */
    font-size: 1.3em;
}

.subject_id_added{
    /* background-color: #FFF; */
    /* border-bottom:1px solid black; */
    display: flex;
    justify-content: center;
    /* width: 7.773em; */
    width: 12vw;
    font-size: 0.8em;
    padding: 0.376em;
}

.trash_icon{
    font-size: 1em;
    margin-left: 1em;
}

.trash_icon:hover{
    color: #d62648;
}

.course_name{
    background-color: inherit;
    display: flex;
    margin-left: 1em;
    width: 50vw;
    font-size: 0.8em;
    /* border-bottom:1px solid black; */
}

.course_name_styling{
    align-items: center;
    box-shadow: none;
    justify-content: center;
    padding: 0.5em;
    width: 50vw;
}

.new_container{
    display:flex;
}
.show{
    visibility: visible;
}


/* For tablet dgit initevices */
@media(min-width: 768px) and (max-width: 991px){
    /* .banner_content{
        font-size: 1em;
    }
        font-size: 1.2em;
    }   */
    .show{
        visibility: visible;
    }  
    /* .navbar{
     
    } */

    .profile_options{
        font-size: 1em;
    }

    .profile_content{
        padding: 0;
    }

    .profile_container{
        display: none;
    }

    .profile_pic{
        width: 8em;
        /* margin: 2em; */
    }

    .content{
        margin: 0;
        width:100vw !important 
    }

    .responsive_dp{
        visibility: visible;
        margin: 5em;
    }

    .dp_hover:hover .profile_pic{
        background-color: #000;
        opacity: 0.5;
    }

    .profile_pic:hover{
        background-color: #000;
        opacity: 0.3;
    }

    .edit_button{
        color: #000;
        opacity: 1;
    }

    .dp_container{
        background-color: red;
    }

    #pencil_btn_1{
        /* opacity: 1; */
        font-size: 1.5em;
    }

    #delete_btn_1{
        font-size: 1.5em;
    }
}

/* For mobile devices */
@media(max-width: 768px){
    /* .banner_content{
        font-size:0.8em;
        padding-right:0.1em;
    } */
    .show{
        visibility: visible;
        /* overflow: visible; */
    }  
    /* .navbar{
        height: 100vh;
    
        margin-bottom: 1em;
    } */

    .profile_container{
        display: none;
    }

    .content{
        margin: 0;
        width:100vw !important 
    }

    .responsive_dp{
        visibility: visible;
        margin: 5em;
    }
    #course_id,.add{
        font-size:0.8em;
    }
    .heading_container{
        font-size:0.8em;
    }

    #personal_info{
        font-size: 2em;
    }
    .personal_info{
        min-width:350px;
        width:75%;
    }

    #attendance{
        font-size: 2em;
    }

    #course{
        font-size: 2em;
    }

    .table{
        width: 90vw;
    }

    .heading_table{
        font-size: 1em;
    }

    .cell{
        font-size: 2vw;
    }
    
    .dp_hover:hover .profile_pic{
        background-color: #000;
        opacity: 0.5;
    }

    .edit_button{
        color: #000;
    }

    .profile_pic{
        width: 8em;
    }

    .edit_icon{
        font-size: 1.5em;
    }

    .personal_option{
        font-size: 0.8em;
    }

    .personal_info_input_css{
        border:none !important;
        background-color:inherit !important;
        border-bottom:solid rgb(80, 80, 80) 0.1em !important;
        font-size: 0.8em;
        width: 12em;
        margin: 0.9em;
    }

    .edit_info_name{
        padding: 0;
        margin: 0;
    }

    .edit_info_field{
        padding: 0;
        margin: 0;
    }

    .submit,.submit_courses_styles{
        font-size: 0.8em;
    }
    

    .courses_heading{
        font-size: 0.8em;
    }
    
    .no_courses{
        font-size: 0.8em;
    }

    .subject_id{
        width: 85%;
    }

    .subject_id_added{
        font-size: 0.5em;
    }

}

