.main{
    position: relative;
    min-height: 90vh;
    margin-left: 5em;
    /* border:1px solid black; */
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* border:1px solid black; */
}

.box_layout{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em 3em 1.5em;
    width: 100%;
    flex-wrap: wrap;
    /* border:1px solid black; */
}

.main_heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

}
.heading{
    padding: 1em 2em 0 1.7em;
    font-size: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    color: #1D3557;
}


.add{
    margin:1em 1.5em;
    width:fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color:#d62648; 
    border: 1px solid rgb(224, 211, 211);
    align-items: center;
    justify-content: center;
    box-shadow: 0.01px 0.01px 5px 0;
    cursor: pointer;
}
.add:active{
    background-color: white;
}
.add:active .add_icon,.add:active .add_content{
    color:#d62648;
}
.add_content{
    padding: 0.5em;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    user-select: none;
}
.add_icon{
    padding-left:0.5em;
    font-size: 1.1em;
    color: white;
}
.add_admin{
    margin:1em 1.5em;
    border:1px solid #1D3557;
    box-shadow: 0.1px 0.1px 4px 0;
    padding: 1.3em 0.8em;
    display: none;
    width:80%;
}
form{
    width: 100%;
}
input{
    height:1.4em;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 4px;
    border:1px solid #aaa;
}
.programme_name_label{
    margin-right: 2.5em;
}
.year_label{
    margin-right: 0.2em;
}
.class_groups_label{
    margin-right: 2.25em;
}
.lab_groups_label{
    margin-right: 3.05em;
}
#programme_name{
    min-width: 60%;
    width:auto;
}
#year{
    width:5em;
}
#class_groups{
    width:5em;
}
#lab_groups{
    width:5em;
}

.submit_button{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
}
.submit_button button{
    font-size: 1.1em;
    background-color: #1D3557;
    color:white;
    padding:0.3em 0.7em;
}
.submit_button button:hover{
    background-color:white;
    color: #1D3557;
    font-weight: 600;
}
.showx{
    display: flex;
}

.show{
    visibility: visible;
}
.hide{
    display: none;
}
.programme_container{
    width:90%;
    margin:1em 0 2em 1.5em;
    /* border:1px solid black; */
}
.programme_heading{
    width:100%;
    min-height:1em;
    /* background-color:peachpuff; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    padding-left:0.3em;
}
.programme_name_heading{
    width: 35%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.year_heading{
    width: 10%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.groups_heading{
    width: 22%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.sub_groups_heading{
    width: 20%;
    font-weight: bold;
    text-transform: uppercase;
    margin:0.5em;
    text-align: center;
    /* border: 1px solid black; */
}
.programme{
    width:100%;
    min-height:1em;
    /* background-color:peachpuff; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: center;
    padding-left: 0.3em;
}
.programme:nth-child(2n+1){
    background-color: white;
    
}
.programme_name_main{
    width: 35%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.year_main{
    width: 10%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.groups_main{
    width: 22%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.sub_groups_main{
    width: 20%;
    /* border: 1px solid black; */
    margin:0.5em;
    text-align: center;
    text-transform: uppercase;
    overflow-wrap: break-word;
}
.icon_color_change{
    color: #18bc33;
}
.edit_icon{
    font-size: 1.3em;
    align-self: center;
    color: #a6a5a5;
    margin-right: 0.5em;
}
.delete_icon{
    font-size: 1.3em;
    align-self: center;
    color: #a6a5a5;
    /* border: 1px solid black; */
}
.save_icon{
    font-size: 1.3em;
    align-self: center;
    color: #5f5959;
    display: none;
    margin-right: 0.78em;
}

.content_color{
    background-color: #e4e4e4;
}
.no_courses{
    justify-content: center;
    font-size: 1.2em;
    margin-top:1.5em;
    font-style: italic;
}



/* -------------------------TABLET DEVICES-------------------------------- */
@media(min-width: 767px) and (max-width: 991px){
    .box_layout{
        width: 95%;
    }    
    .main{
        margin-left:1em;
    }    
    .heading{
        font-size: 1.4em;
        padding-left:2.3em;
    }
}




/* ------------------------MOBILE DEVICES-------------------------------- */
@media(max-width: 767px){
    .box_layout{
        width: 98%;
        padding: 0;
        padding-left:0.5em;
    }
    .main{
        margin-left:0;
        
    }    
    .heading{
        font-size: 1.3em;
        padding-left:1.5em;
    }
    .add_content{
        font-size: 1em;
    }
    #programme_name{
        min-width: 65%;
    }
    .programme_name_heading{
        font-size: 0.7em;
    }
    .year_heading{
        font-size: 0.7em;
    }
    .groups_heading{
        font-size: 0.7em;
    }
    .sub_groups_heading{
        font-size: 0.7em;
    } 
    .programme_name_main{
        font-size: 0.7em;
        margin-right: 0.3em;
    }
    .year_main{
        font-size: 0.7em;
        margin-right: 0.3em;
    }
    .groups_main{
        font-size: 0.7em;
        margin-right: 0.3em;
    }
    .sub_groups_main{
        font-size: 0.7em;
        margin-right: 0.3em;
    }
    .edit_icon{
        font-size: 1.1em;
    }
    .delete_icon{
        font-size: 1.1em;
    }
    .save_icon{
        font-size: 1.1em;
    }
}