<link rel="stylesheet" type="text/css" href="/css/coursesassgn_superuser.css">
<div class="main">
    <%- include('navbar_superuser') %>
    <div id="black_screen"></div>
    <div class="main_content">
        <div class="main_heading">
            <div class="heading">Courses Assigned</div>
        </div>
    </div>
    <div class="box_layout">
        
        <div class="add" id="addButton">
            <div class="add_icon"><i class="fas fa-plus"></i></div>
            <div class="add_content">Add </div>
        </div>
        
        <div class="add_admin">
            <form method="POST" action="#">
                <label class="course_code_label">Course Code: </label>
                <select class="course_code" name="code_course" id="code_course">
                    <option value="ECN-201">ECN-201</option>
                    <option value="ECN-202">ECN-202</option>
                    <option value="ECN-203">ECN-203</option>
                    <option value="ECN-204">ECN-204</option>
                </select><br><br>
                <label class="programme_label">Programme: </label>
                <select class="programme" name="programme_add" id="programme_add">
                    <option value="BTECH">BTECH</option>
                    <option value="MTECH">MTECH(Vlsi)MTECH(Vlsi) MTECH(Vlsi)MTECH(Vlsi)MTECH(Vlsi) MTECH(Vlsi) MTECH(Vlsi) MTECH(Vlsi) MTECH(Vlsi) vMTECH(Vlsi) MTECH( MTECH(Vlsi) MTECH(Vlsi)i) MTECH(Vlsi) MTECH(Vlsi)MTECH(Vlsi)MTECH(Vlsi)</option>
                </select><br><br>
                <label class="year_study_label">Year of Study:</label> 
                <select class="year_study" name="study_year" id="study_year">
                    <option value="1">1st</option>
                    <option value="1">2nd</option>
                    <option value="1">3rd</option>
                    <option value="1">4th</option>
                </select><br><br>
                <label class="class_group_label">Class group:</label>
                <select class="class_group" name="group_class" id="group_class">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                </select><br><br>
                <label class="lab_group_label">Lab group:</label>
                <select class="lab_group" name="group_lab" id="group_lab">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select><br><br>
                <select class="branch" name="branch_teacher" id="branch_teacher">
                    <option>ECE</option>
                    <option>CSE</option>
                </select>
                <select class="teacher_name" name="name_teacher" id="name_teacher">
                    <option>Jyoti Kedia</option>
                    <option>Divya Dhawan</option>
                </select>
                <button type="button" class="add_teacher_button">Add teacher</button>
                <div class="teacher_selected"></div>
                
                <div class="submit_button" id="button_submit">
                    <button type="submit">Add</button>
                </div>
            </form>
            
        </div>
        
        <div class="teacher_container">
            <div class="teacher_heading">
                <div class="branch_heading">Branch</div>
                <div class="subject_heading">Course Code</div>
                <div class="programme_heading">Programme</div>
            </div>
            <div class="no_teacher">No Courses assigned</div>
            <div class="teacher_main_container">
                <!-- -------------------------TEACHER1--------------------------------------- -->
                <div class="teacher_subjects">
                    <div class="teacher_main">
                        <div class="arrow_icon"><i class="fas fa-caret-right"></i></div>
                        <div class="branch_main">ECE</div>
                        <div class="subject">ECN-201</div>
                        <div class="programme_chosen">BTECH</div>
                    </div>
                    <div class="subjects_added">
                        <div class="subject_container_heading">
                            <div class="teacher_name_heading">Name</div>
                            <div class="year_heading">Year</div>
                            <div class="group_heading">Class Group</div>
                            <div class="sub_group_heading">Lab Group</div>
                            <div class="delete_icon_subject" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia Jyoti KediaJyoti Kedia</div>
                            <div class="year">1</div>
                            <div class="group">1</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia</div>
                            <div class="year">1</div>
                            <div class="group">1</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------------- -->
                
                <div class="teacher_subjects">
                    <div class="teacher_main">
                        <div class="arrow_icon"><i class="fas fa-caret-right"></i></div>
                        <div class="branch_main">ECE</div>
                        <div class="subject">ECN-201</div>
                        <div class="programme_chosen">BTECH</div>
                        <!-- <div class="delete_icon"><i class="fas fa-trash"></i></div> -->
                    </div>
                    <div class="subjects_added">
                        <div class="subject_container_heading">
                            <div class="teacher_name_heading">Name</div>
                            <div class="year_heading">Year</div>
                            <div class="group_heading">Class Group</div>
                            <div class="sub_group_heading">Lab Group</div>
                            <div class="delete_icon_subject" style="visibility: hidden;"><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia Jyoti KediaJyoti Kedia</div>
                            <div class="year">1</div>
                            <div class="group">1</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                        <div class="subject_container">
                            <div class="teacher_name_main">Jyoti Kedia</div>
                            <div class="year">1</div>
                            <div class="group">1</div>
                            <div class="sub_group">2</div>
                            <div class="delete_icon_subject" ><i class="fas fa-trash"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/coursesassgn_superuser.js"></script>