
<link rel="stylesheet" type="text/css" href="/css/navbar_superuser.css">
<div class="navbar bgcolor_welcome_user">
    <a id="courses" href="courses.html">
        <div class="nav_icon "><i class="fa fa-book fa-2x fa-fw"></i> </div>
        <div class="nav_content">Courses</div>
    </a>
    <a id="staff" href="staff.html">
        <div class="nav_icon"><i class="fas fa-users fa-2x fa-fw"></i> </div>
        <div class="nav_content">Faculty</div>
    </a>
    <a id="programmes" href="programmes.html">
        <div class="nav_icon"><i class="fas fa-graduation-cap fa-2x fa-fw"></i></div>
        <div class="nav_content">Programmes</div>
    </a>
    <a id="quizzes" href="courses.html">
        <div class="nav_icon"><i class="fas fa-brain fa-2x fa-fw"></i></div>
        <div class="nav_content">Title</div>
    </a>
    <a id="time_table" href="timetable.html">
        <div class="nav_icon"><i class="fa fa-calendar fa-2x fa-fw "></i> </div>
        <div class="nav_content">Time-table</div>
    </a>
    <div>
        <div class="nav_icon"></div>
        <div class="nav_content"></div>
    </div>
</div>